@font-face {
  font-family: 'Material Icons';
  font-style: normal;
  font-weight: 400;
  src: url(../fonts/material-icons.eot); /* For IE6-8 */
  src: local('Material Icons'),
	   local('MaterialIcons-Regular'),
	   url(../fonts/material-icons.woff2) format('woff2'),
	   url(../fonts/material-icons.woff) format('woff'),
	   url(../fonts/material-icons.ttf) format('truetype');
}
i {
	font-family: 'Material Icons';
	font-weight: normal;
	font-style: normal;
	font-size: 24px;  /* Preferred icon size */
	line-height: 1;
	display: inline-block;
	text-transform: none;

	/* Support for all WebKit browsers. */
	-webkit-font-smoothing: antialiased;
	/* Support for Safari and Chrome. */
	text-rendering: optimizeLegibility;

	/* Support for Firefox. */
	-moz-osx-font-smoothing: grayscale;

	/* Support for IE. */
	font-feature-settings: 'liga';
	align-self: center;
	position: relative;
}
.md-datepicker {
	position: absolute;
	width: 350px;
	max-width: calc(100% - 16px);
	left: 50%;
	top: 100px;
	box-shadow: 0 1px 5px rgba(0, 0, 0, 0.3);
	border-radius: 2px;
	overflow: hidden;
	display: none;
	flex-direction: column;
	z-index: 100001;
	-webkit-user-select: none;
	cursor: default;
	font-family: roboto;
	color: #fff;
	font-weight: normal;
}
.md-datepicker:before {
    content: "";
    width: 100%;
    display: block;
    position: absolute;
    top: 96px;
    bottom: 0;
    background-color: #fff;
    z-index: -1;
}
.md-datepicker-animated {
	transition: transform .25s cubic-bezier(.55,0,.1,1), opacity .25s cubic-bezier(.55,0,.1,1);
	transform: scale(0.5);
	opacity: 0;
	transform-origin: 0 0;
	display: table-cell;
	display: flex;
	pointer-events: none;
}
.md-datepicker-animated:not(.md-datepicker-visible) * {
	pointer-events: none;
}
.md-datepicker:not(.md-datepicker-animated).md-datepicker-visible{
	display: table-cell;
	display: flex;
}
.md-datepicker-animated.md-datepicker-visible {
	transform: none;
	opacity: 1;
	pointer-events: all;
}
.md-datepick-header {
	height: 96px;
	background: #1565C0;
	padding: 16px;
	box-sizing: border-box;
	display: table-cell;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	width: 100%;
	position: relative;
	z-index: 5;
}

.md-datepick-month {
	color: #aaa;
	display: table-cell;
	display: flex;
	justify-content: space-between;
	align-items: center;
	position: relative;
	z-index: 1;
}

.md-datepicker-headline {
	font-size: 2.3em;
	white-space: nowrap;
	font-weight: 500;
	position: relative;
}

span.weekday:after {
	content: ", ";
}

.md-touchtarget {
	height: 32px;
	width: 32px;
	display: table-cell;
	display: flex;
	align-items: center;
	justify-content: center;
	cursor: pointer;
	background: #fff;
}

.md-month {
	padding: 16px 8px;
	width: 100%;
	flex-shrink: 0;
	box-sizing: border-box;
	position: relative;
	left: -100%;
}

.md-months {
	display: flex;
	height: 268px;
}

.md-weekday {
	color: #bbb;
	display: table-cell;
	display: flex;
	font-size: 12px;
	text-transform: uppercase;
	padding: 0 0 8px;
}

.md-week {
	color: #222;
	display: table-cell;
	display: flex;
	flex-wrap: wrap;
}

.md-week>span {
	padding: 10px;
	width: calc(100%/7);
	box-sizing: border-box;
	text-align: center;
	position: relative;
	z-index: 2;
	cursor: pointer;
}

.md-weekday>span {
	width: calc(100%/7);
	text-align: center;
}

.md-selecteddate:before {
	content: "";
	width: 40px;
	height: 40px;
	display: block;
	position: absolute;
	top: 50%;
	transform: translate(-50%,-50%);
	left: 50%;
	box-sizing: border-box;
	background: #1565C0;
	border-radius: 50%;
	z-index: -1;
}

.md-selecteddate {
	color: #fff;
	pointer-events: none;
	font-weight: 600;
}

.md-currentdate:not(.md-selecteddate) {
	color: #1565C0;
	font-weight: 500;
}

.md-buttons {
	display: table-cell;
	display: flex;
	justify-content: flex-end;
	padding: 8px 16px;
	color: #1565C0;
	position: relative;
}

.md-button-flat {
	padding: 8px;
	cursor: pointer;
}

.md-button-flat:not(:last-of-type) {
	margin-right: 8px;
}

.md-previous-month.md-month {
	order: 0;
}

.md-current-month.md-month {
	order: 1;
}

.md-next-month.md-month {
	order: 2;
}

.md-months.animate {
	transition: transform .5s cubic-bezier(.55,0,.1,1);
}

.md-months.animate.next {
	transform: translateX(-100%);
}

.md-months.animate.previous {
	transform: translateX(100%);
}

.md-week>span:empty {
	pointer-events: none;
}

.md-date-wrap {
	position: absolute;
	color: #000;
	font-weight: 500;
	top: -20px;
	left: 0;
	width: 100%;
	text-align: center;
	z-index: 0;
}

.md-button-flat.disabled {
	color: #ddd;
	pointer-events: none;
}

.md-light .md-select-wrap{
	color:#222;
}

.md-select-wrap {
	display: table-cell;
	display: flex;
	flex-direction: column;
	text-align: center;
	position: absolute;
	top: 96px;
	background: inherit;
	z-index: 10;
	width: 100%;
	height: calc(100% - 96px);
	overflow: auto;
	transform: translateY(100%);
	transition: transform .5s cubic-bezier(.55,0,.1,1);
	color: #aaa;
}

.ua-ie .md-select-wrap {
	border-top:0.1px solid #424242;
}

html:not(.ua-chrome) .md-select-wrap {
	width: calc(100% + 18px);
}

.inview {
	transform: none;
}

.md-select-wrap>span {
	padding: 16px;
	width: 100%;
	box-sizing: border-box;
	flex-shrink: 0;
}
.md-select-wrap>.md-currentdate {
	font-size: 24px;
}

.ua-desktop .md-select-wrap::-webkit-scrollbar,
.ua-desktop .md-select-wrap::-webkit-scrollbar-thumb {
  width: 5px;
  height: 0;
  background: rgba(0, 0, 0, .2);
}

i.md-toggle-state {
	position: absolute;
	top: 6px;
	right: 6px;
	width: 40px;
	height: 40px;
	display: flex;
	justify-content: center;
	align-items: center;
	cursor: pointer;
	border-radius: 50%;
	pointer-events: bounding-box;
	transition: all .3s cubic-bezier(.55,0,.1,1);
}

.md-datepicker>div:not(:first-child),
.md-select-wrap{
    background-color: #fff;
}
.md-datepicker.md-dark:before,
.md-datepicker.md-dark>div:not(:first-child),
.md-datepicker.md-dark .md-select-wrap {
	background-color: #424242;
}
.md-datepicker-views {
	display: table-cell;
	display: flex;
	transition: transform .5s cubic-bezier(.55,0,.1,1);
}

.md-datepicker-views>div {
	width: 100%;
	flex-shrink: 0;
	overflow: hidden;
}

.md-clock {
	position: relative;
	height: 280px;
	width: 280px;
	margin: 25px auto;
	border-radius: 50%;
	background-color: #eee;
	color: #222;
}

.lolliclock-tick {
	position: absolute;
	width: 40px;
	height: 40px;
	display: table-cell;
	display: flex;
	align-items: center;
	justify-content: space-around;
}

.md-minutes {
	transform: scale(1.25);
	opacity: 0;
	pointer-events: none;
}

i.md-toggle-state:hover {
	background: rgba(0, 0, 0, 0.1);
}

.clockpicker .md-datepicker-views {
	transform: translateX(-100%);
}

.md-ampm-toggle>*:first-child {
	margin-bottom: 0.25em;
	pointer-events: none;
}

.md-ampm-toggle {
	font-size: 16px;
	font-weight: 300;
	display: table-cell;
	display: flex;
	flex-direction: column;
	margin-left: 1em;
}

.md-datepicker-timeview .md-datepicker-headline {
	display: table-cell;
	display: flex;
	align-items: center;
	font-size: 3.5em;
	font-weight: 400;
	height: 100%;
	justify-content: center;
}

.minute .md-hour,
.md-minute,
.md-pm {
	opacity: .5;
}

.minute .md-minute,
.pm .md-pm  {
	opacity: 1;
	pointer-events: none;
}

.pm .md-am {
	opacity: .5;
	pointer-events: all;
}

.minute .md-minutes {
	display: block;
	opacity: 1;
	transform: translate3d(0,0,0);
}

.minute .md-hours {
	transform: scale(1.25);
	opacity: 0;
	pointer-events: none;
}

svg.lolliclock-svg {
	fill: #1565C0;
	stroke: #1565C0;
}

.md-clock svg line {
	stroke-width: 2px;
	stroke-linecap: round;
}

circle.lolliclock-canvas-fg {
	fill: #FFFFFF;
}

.md-clock>div {
	height: 100%;
	width: 100%;
	transform-origin: center center;
	position: absolute;
	transition: transform .3s, opacity .3s;
	z-index: 5;
}

.lolliclock-tick.active {
	font-weight: 700;
	color: #fff;
}

.md-dark .md-datepick-header {
	background: #555;
}

.md-dark .md-touchtarget {
	background: #424242;
}

.md-dark .md-week {
	color: #FFF;
}

.md-dark .md-date-wrap {
	color: #eee;
}

.md-dark .md-selecteddate:before {
	background: #80cbc4;
}

.md-dark .md-selecteddate,
.md-dark .lolliclock-tick.active {
	color: #424242;
}

.md-dark .md-currentdate:not(.md-selecteddate),
.md-dark .md-buttons {
	color: #80cbc4;
}

.md-dark .md-button-flat.disabled {
	color: #666;
}
.ua-desktop .md-dark .md-select-wrap::-webkit-scrollbar,
.ua-desktop .md-dark .md-select-wrap::-webkit-scrollbar-thumb{
	background: rgba(255, 255, 255, .2);
}

.md-dark .md-clock {
	background-color: #555;
	color: #fff;
}

.md-dark svg.lolliclock-svg {
	fill: #80cbc4;
	stroke: #80CBC4;
}
.md-dark circle.lolliclock-canvas-fg{
	fill:#424242;
}

.md-red .md-datepick-header,
.md-red .md-selecteddate:before {
	background: #D32F2F;
}

.md-red span.md-currentdate:not(.md-selecteddate),
.md-red .md-buttons {
	color: #D32F2F;
}

.md-red svg.lolliclock-svg {
	fill: #D32F2F;
	stroke: #D32F2F;
}

.md-pink .md-datepick-header,
.md-pink .md-selecteddate:before {
	background: #E91E63;
}

.md-pink span.md-currentdate:not(.md-selecteddate),
.md-pink .md-buttons {
	color: #E91E63;
}

.md-pink svg.lolliclock-svg {
	fill: #E91E63;
	stroke: #E91E63;
}

.md-deep_purple .md-datepick-header,
.md-deep_purple .md-selecteddate:before {
	background: #673AB7;
}

.md-deep_purple span.md-currentdate:not(.md-selecteddate),
.md-deep_purple .md-buttons {
	color: #673AB7;
}

.md-deep_purple svg.lolliclock-svg {
	fill: #673AB7;
	stroke: #673AB7;
}

.md-indigo .md-datepick-header,
.md-indigo .md-selecteddate:before {
	background: #3F51B5;
}

.md-indigo span.md-currentdate:not(.md-selecteddate),
.md-indigo .md-buttons {
	color: #3F51B5;
}

.md-indigo svg.lolliclock-svg {
	fill: #3F51B5;
	stroke: #3F51B5;
}

.md-blue .md-datepick-header,
.md-blue .md-selecteddate:before {
	background: #2196F3;
}

.md-blue span.md-currentdate:not(.md-selecteddate),
.md-blue .md-buttons {
	color: #2196F3;
}

.md-blue svg.lolliclock-svg {
	fill: #2196F3;
	stroke: #2196F3;
}

.md-teal .md-datepick-header,
.md-teal .md-selecteddate:before {
	background: #009688;
}

.md-teal span.md-currentdate:not(.md-selecteddate),
.md-teal .md-buttons {
	color: #009688;
}

.md-teal svg.lolliclock-svg {
	fill: #009688;
	stroke: #009688;
}

.md-green .md-datepick-header,
.md-green .md-selecteddate:before {
	background: #4CAF50;
}

.md-green span.md-currentdate:not(.md-selecteddate),
.md-green .md-buttons {
	color: #4CAF50;
}

.md-green svg.lolliclock-svg {
	fill: #4CAF50;
	stroke: #4CAF50;
}

.md-light_green .md-datepick-header,
.md-light_green .md-selecteddate:before {
	background: #8BC34A;
}

.md-light_green span.md-currentdate:not(.md-selecteddate),
.md-light_green .md-buttons {
	color: #8BC34A;
}

.md-light_green svg.lolliclock-svg {
	fill: #8BC34A;
	stroke: #8BC34A;
}

.md-amber .md-datepick-header,
.md-amber .md-selecteddate:before {
	background: #FFC107;
}

.md-amber span.md-currentdate:not(.md-selecteddate),
.md-amber .md-buttons {
	color: #FFC107;
}

.md-amber svg.lolliclock-svg {
	fill: #FFC107;
	stroke: #FFC107;
}

.md-orange .md-datepick-header,
.md-orange .md-selecteddate:before {
	background: #FF9800;
}

.md-orange span.md-currentdate:not(.md-selecteddate),
.md-orange .md-buttons {
	color: #FF9800;
}

.md-orange svg.lolliclock-svg {
	fill: #FF9800;
	stroke: #FF9800;
}

.md-grey .md-datepick-header,
.md-grey .md-selecteddate:before {
	background: #9E9E9E;
}

.md-grey span.md-currentdate:not(.md-selecteddate),
.md-grey .md-buttons {
	color: #9E9E9E;
}

.md-grey svg.lolliclock-svg {
	fill: #9E9E9E;
	stroke: #9E9E9E;
}

.md-blue_grey .md-datepick-header,
.md-blue_grey .md-selecteddate:before {
	background: #607D8B;
}

.md-blue_grey span.md-currentdate:not(.md-selecteddate),
.md-blue_grey .md-buttons {
	color: #607D8B;
}

.md-blue_grey svg.lolliclock-svg {
	fill: #607D8B;
	stroke: #607D8B;
}

.md-datepicker.animate {
	transition: all .25s cubic-bezier(.55,0,.1,1);
}

.md-select-wrap>.disabled {
	pointer-events: none;
	opacity: .5;
}

.md-week>.disabled {
	opacity: .5;
	pointer-events: none;
}

i.disabled {
	pointer-events: none;
	color: rgba(170, 170, 170, 0.5);
}
